In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [5]:
# Load the dataset
file_path = 'C:/Users/hp/OneDrive/Desktop/VCU/Technocolabs Softwares/Task 1/WA_Fn-UseC_-HR-Employee-Attrition.csv'

In [6]:
df = pd.read_csv(file_path)

In [9]:
# Impute missing values for numerical columns
numeric_cols = df.select_dtypes(include=[np.number]).columns
df[numeric_cols] = df[numeric_cols].fillna(df[numeric_cols].mean())

In [13]:
# 1. Data Exploration
print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
Index: 699 entries, 2 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       699 non-null    int64
 1   Attrition                 699 non-null    object
 2   BusinessTravel            699 non-null    object
 3   DailyRate                 699 non-null    int64
 4   Department                699 non-null    object
 5   DistanceFromHome          699 non-null    int64
 6   Education                 699 non-null    int64
 7   EducationField            699 non-null    object
 8   EmployeeCount             699 non-null    int64
 9   EmployeeNumber            699 non-null    int64
 10  EnvironmentSatisfaction   699 non-null    int64
 11  Gender                    699 non-null    object
 12  HourlyRate                699 non-null    int64
 13  JobInvolvement            699 non-null    int64
 14  JobLevel                  699 non-null    int64
 15  JobRole                   699 non-null    object
 16  JobSatisfaction           699 non-null    int64
 17  MaritalStatus             699 non-null    object
 18  MonthlyIncome             699 non-null    int64
 19  MonthlyRate               699 non-null    int64
 20  NumCompaniesWorked        699 non-null    int64
 21  Over18                    699 non-null    object
 22  OverTime                  699 non-null    object
 23  PercentSalaryHike         699 non-null    int64
 24  PerformanceRating         699 non-null    int64
 25  RelationshipSatisfaction  699 non-null    int64
 26  StandardHours             699 non-null    int64
 27  StockOptionLevel          699 non-null    int64
 28  TotalWorkingYears         699 non-null    int64
 29  TrainingTimesLastYear     699 non-null    int64
 30  WorkLifeBalance           699 non-null    int64
 31  YearsAtCompany            699 non-null    int64
 32  YearsInCurrentRole        699 non-null    int64
 33  YearsSinceLastPromotion   699 non-null    int64
 34  YearsWithCurrManager      699 non-null    int64
dtypes: int64(26), object(9)
memory usage: 196.6+ KB
None
              Age    DailyRate  DistanceFromHome   Education  EmployeeCount  \
count  699.000000   699.000000        699.000000  699.000000          699.0
mean    34.895565   807.708155          9.367668    2.864092            1.0
std      8.446306   399.049179          8.168051    1.033874            0.0
min     18.000000   103.000000          1.000000    1.000000            1.0
25%     29.000000   471.000000          2.000000    2.000000            1.0
50%     34.000000   812.000000          7.000000    3.000000            1.0
75%     40.000000  1159.500000         15.000000    4.000000            1.0
max     60.000000  1498.000000         29.000000    5.000000            1.0

       EmployeeNumber  EnvironmentSatisfaction  HourlyRate  JobInvolvement  \
count      699.000000               699.000000  699.000000      699.000000
mean      1034.693848                 2.719599   65.942775        2.731044
std        603.889794                 1.093771   20.458908        0.711587
min          4.000000                 1.000000   30.000000        1.000000
25%        499.000000                 2.000000   48.000000        2.000000
50%       1013.000000                 3.000000   66.000000        3.000000
75%       1566.000000                 4.000000   84.000000        3.000000
max       2068.000000                 4.000000  100.000000        4.000000

         JobLevel  ...  RelationshipSatisfaction  StandardHours  \
count  699.000000  ...                699.000000          699.0
mean     1.696710  ...                  2.712446           80.0
std      0.725806  ...                  1.082024            0.0
min      1.000000  ...                  1.000000           80.0
25%      1.000000  ...                  2.000000           80.0
50%      2.000000  ...                  3.000000           80.0
75%      2.000000  ...                  4.000000           80.0
max      4.000000  ...                  4.000000           80.0

       StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
count        699.000000         699.000000             699.000000
mean           0.639485           8.366237               2.520744
std            0.690864           4.836621               0.755542
min            0.000000           0.000000               1.000000
25%            0.000000           5.000000               2.000000
50%            1.000000           8.000000               2.000000
75%            1.000000          10.000000               3.000000
max            2.000000          23.000000               4.000000

       WorkLifeBalance  YearsAtCompany  YearsInCurrentRole  \
count       699.000000      699.000000          699.000000
mean          2.752504        4.984263            3.268956
std           0.718346        3.475008            2.907710
min           1.000000        0.000000            0.000000
25%           2.000000        2.000000            2.000000
50%           3.000000        5.000000            2.000000
75%           3.000000        7.000000            5.000000
max           4.000000       18.000000           14.000000

       YearsSinceLastPromotion  YearsWithCurrManager
count               699.000000            699.000000
mean                  0.951359              3.145923
std                   1.249840              2.831747
min                   0.000000              0.000000
25%                   0.000000              1.000000
50%                   1.000000              2.000000
75%                   1.000000              4.000000
max                   5.000000             11.000000

[8 rows x 26 columns]

In [15]:
# Impute missing values for categorical columns
categorical_cols = df.select_dtypes(include=['object']).columns
df[categorical_cols] = df[categorical_cols].fillna(df[categorical_cols].mode().iloc[0])

In [16]:
print(df.isnull().sum())
for column in df.select_dtypes(include=['object']).columns:
    print(f"Value counts for {column}:\n{df[column].value_counts()}\n")

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64
Value counts for Attrition:
Attrition
no     577
yes    122
Name: count, dtype: int64

Value counts for BusinessTravel:
BusinessTravel
travel_rarely        498
travel_frequently    133
non-travel            68
Name: count, dtype: int64

Value counts for Department:
Department
research & development    438
sales                     230
human resources            31
Name: count, dtype: int64

Value counts for EducationField:
EducationField
life sciences       289
medical             191
marketing            88
technical degree     73
other                44
human resources      14
Name: count, dtype: int64

Value counts for Gender:
Gender
male      440
female    259
Name: count, dtype: int64

Value counts for JobRole:
JobRole
sales executive              169
research scientist           159
laboratory technician        136
manufacturing director        66
sales representative          59
healthcare representative     59
human resources               31
research director             15
manager                        5
Name: count, dtype: int64

Value counts for MaritalStatus:
MaritalStatus
married     308
single      256
divorced    135
Name: count, dtype: int64

Value counts for Over18:
Over18
y    699
Name: count, dtype: int64

Value counts for OverTime:
OverTime
no     496
yes    203
Name: count, dtype: int64

In [24]:
# Handling outliers (example using IQR)
for column in numeric_cols:
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    df = df[~((df[column] < (Q1 - 1.5 * IQR)) | (df[column] > (Q3 + 1.5 * IQR)))]

In [26]:
# Ensure consistency in categorical data
for column in categorical_cols:
    df[column] = df[column].astype(str).str.strip().str.lower()

In [27]:
#Data encoding
# Identify binary columns
binary_columns = [col for col in df.columns if df[col].nunique() == 2]
print("Binary columns:", binary_columns)

Binary columns: ['Attrition', 'Gender', 'OverTime']

In [28]:
le = LabelEncoder()
for column in binary_columns:
    df[column] = le.fit_transform(df[column])

In [29]:
# One-Hot Encoding for multi-class categorical features
multi_class_columns = ['BusinessTravel', 'Department', 'EducationField', 'JobRole', 'MaritalStatus']
# Ensure these columns are present in the DataFrame before applying One-Hot Encoding
multi_class_columns = [col for col in multi_class_columns if col in df.columns]
df = pd.get_dummies(df, columns=multi_class_columns, drop_first=True)

In [30]:
# 4. Data Labeling
# Ensure target variable is labeled if not already handled in binary columns
if 'Attrition' not in binary_columns:
    df['Attrition'] = le.fit_transform(df['Attrition'])

In [31]:
# Save the cleaned and encoded dataset
df.to_csv('cleaned_employee_data.csv', index=False)

In [32]:
print("Data preprocessing and preparation completed successfully.")

Data preprocessing and preparation completed successfully.